@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 1281px) {
    .container {
      max-width: 1140px;
    }
  
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  }

  
@media (min-width: 1281px) {
    ul.clubs.gridContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, 33.33333%);
    }
  }

  
@media (min-width: 1281px) {
    .gridContainer2cols {
      display: grid;
      grid-template-columns: 5% auto;
      column-gap: 15px;
    }
  
    article {
      text-align: justify;
      hyphens: auto;
    }
   
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .flexContainer {
      display: flex;
    }
    .spaceBetween {
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    ul.clubs.gridContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, 50%);
    }
  }

  
@media (min-width: 768px) {
    .content ul {
      display: flex;
      justify-content: space-between;
    }
    .content ul li {
      width: 30%;
    }
    .intro p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.9em;
    }
   
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  }

  @media (min-width: 768px) {
    h1,
    .h1 {
      font-size: 2.5rem;
    }
    h2,
    .h2 {
      font-size: 2rem;
    }
    h3,
    .h3 {
      font-size: 1.5rem;
    }
    h4,
    .h4 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 768px) {
    footer {
      text-align: left;
    }
    .footer {
      display: flex;
      justify-content: space-between;
    }
    .footer ul li {
      display: inline-block;
    }
    .footer ul li::after {
      content: "•";
      padding-right: 8px;
      padding-left: 8px;
    }
    .footer ul li:last-child::after {
      content: "";
      padding-right: 0;
      padding-left: 0;
    }
  
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }


    
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  }

  @media (min-width: 992px) {
    nav.navbar ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav.navbar ul li {
      padding-left: 5px;
      padding-right: 40px;
    }
  
    
  }

  @media (min-width: 992px) {
    header {
      display: flex;
      flex-direction: row;
   
      align-items: flex-end;
    }
    
    .brand,
    .navbar
    {
      margin-bottom: 0;
      padding-left: 40px;
    }
  
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  
  }



  
  