@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  }

  @media (min-width: 992px) {
    nav.navbar ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav.navbar ul li {
      padding-left: 5px;
      padding-right: 40px;
    }
  
    
  }

  @media (min-width: 992px) {
    header {
      display: flex;
      flex-direction: row;
   
      align-items: flex-end;
    }
    
    .brand,
    .navbar
    {
      margin-bottom: 0;
      padding-left: 40px;
    }
  
    img.clip-animation  {
  
      display: block;
      margin-left: 15px; 
      width: 200px;    
    }
  
  }