@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4m0qyriQwlOrhSvowK_l5-eRZOf-I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf4jvw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font: 400 16px/1.6 Merriweather,serif;
    background-color: #6fb98f;
    color: #020f14;
    overflow-x: hidden;
    word-wrap: break-word
}

h1,h2,h3,h4 {
    font-weight: 700
}

.h1,h1 {
    font-size: 2rem
}

.h2,h2 {
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.5rem
}

p {
    font-size: 1rem;
    margin-bottom: 1rem
}

a {
    color: #021c1e;
    text-decoration: none
}

.textJustify {
    text-align: justify
}

.textCenter {
    text-align: center
}

.sr {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px)
}

main {
    width: 100%;
    padding: 50px 0
}

header {
    padding: 15px 0
}

footer {
    padding: 30px 0
}

img.clip-animation {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.clip-animation {
    -webkit-clip-path: polygon(0 0,100% 0,100% 75%,75% 75%,75% 100%,50% 75%,0 75%);
    clip-path: polygon(0 0,100% 0,100% 75%,75% 75%,75% 100%,50% 75%,0 75%)
}

header {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center
}

.brand h1 span:last-child {
    font-style: italic;
    font-weight: 400
}

.brand img {
    margin-right: 15px
}

.brand a {
    color: #020f14
}

.brand,.navbar {
    margin-bottom: 15px
}

footer {
    font-family: Roboto Condensed,sans-serif;
    font-size: .9rem;
    position: relative;
    text-align: center;
    background-color: #433a44;
    color: #fff
}

footer p {
    font-size: .75rem;
    margin-bottom: 0
}

.footer ul {
    list-style-type: none;
    padding: 30px 0;
    margin: 0
}

footer h2 {
    margin-left: 15px
}

.goTop {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 2rem;
    margin-right: 30px
}

footer a {
    color: #fff
}

.container,.containerFluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.container {
    margin-right: auto;
    margin-left: auto
}

nav.navbar {
    font-family: Roboto Condensed,sans-serif;
    text-transform: uppercase;
    font-size: x-large
}

nav.navbar ul {
    list-style-type: none
}

nav.navbar a {
    font-weight: 700;
    color: #020f14
}
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px
}

.arrows path {
    stroke: #29d199;
    fill: transparent;
    stroke-width: 2px
}

.arrows path.a1 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.arrows path.a2 {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.arrows path.a3 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}